.FAQ-container {
  font-family: Arial, sans-serif;
  max-width: 1000px;
  margin: 0 auto;
  padding: 5rem 5% 5rem;
}

.FAQ {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  height: 50px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: background-color 0.4s;
}

.FAQ-container h1 {
    display: block;
    font-size: 3.2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start:10px;
    margin-inline-end: 10px;
    font-weight: bold;
    text-align: center;
}
.FAQ.active,
.FAQ:hover {
  background-color: #ccc;
}

.FAQ::after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
}

.FAQ.active::after {
  content: "\2212";
}

.panel {
  padding: 2px 18px;
  margin: 5px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease-out;
}
.FAQ-container button {
  font-size: 1.3em;
}
.panel p {
  white-space: pre-line;
  font-size: 1em;
  color: #444;
  padding: 15px;
}