
.faq-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }

 .faq-row-title {
    font-weight: bold;
    color: #555;
    margin-bottom: 80px;
    text-align: center;
  }
   .faq-row-content {
    color: #666;
    text-align: center;
  }

  .faq-container {
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    background-color: #f9f9f9;
      padding: 5rem 5% 2rem;
  }
  