.About-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 5rem 5% 8rem;
    color: white;
    text-align: center;
  }
.aboutContent {
  width: 50%;
}
.aboutContent h1{
  font-size: 60px;
  padding-bottom: 15px;
}
.aboutContent span {
  color:#e5bb69;
}
.aboutContent p{
  font-size: 1.2em;

}
@media (max-width: 1050px) {
  .aboutContent {
    width: 75%;
  }
  .aboutContent h1{
    padding-bottom: 1px;
    font-size: 40px;
  }
  .aboutContent p{
    font-size: 20px;
  }
}