.Contact-container {
    /* width: 100%;
    justify-content: center;
    align-items: center;
    padding: 4rem 5% 4rem;
    color: white;
    text-align: center; */
    width: 100%;
    height: auto;
    display: flex;
    padding: 5rem 5% 1rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)),url('/public/contactbg.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    color: white;
    text-shadow: 0 10px 3px rgba(0,0,0,.3)
  }
  .contactContent h1{
    font-size: 60px;
  }
  .contactContent h2{
    font-size: 40px;
    color:white;
  }
  .contactContent span {
    color: #e5bb69;
  }
  .contactInfo span {
    line-height: 200%;
  }
  .contactContent p {
    font-size: 15px;
  }
  .contactInfo {
    display: flex;
    flex-direction: row;
    text-align: left;
    width: 100%;
    gap: 2rem;
    color: #666;
    padding: 1rem 3% 1rem 3%;
    justify-content: center;
    text-align: left;
  }
  .contactInfoDiv {
    width: 100%;
    text-align: left;
  }
.contactForm{
  padding: 1rem 1rem 1rem;
  border:#e5bb69 2px solid;

}
.contactInfoDiv iframe {
  margin-top: 30px;
  padding: 1rem 1rem 1rem;
}
input[type="text"],
textarea[type="text"],
select {
  font-weight: 600;
  width: 100%;
  padding: 6px 14px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  font-weight: 600;
  width: 100%;
  background-color: #e5bb69;
  border: solid #e5bb69;
  color: white;
  padding: 8px 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: transparent;
  color: #e5bb69;
  border-color: #e5bb69;
  border: solid #e5bb69;
}
