.Contact-container {
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 4rem 5% 4rem;
    color: white;
    text-align: center;
  }
  .contactContent h1{
    text-align: center;
    font-size: 60px;
  }
  .contactInfo {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    text-align: left;
    width: 100%;
    gap: 5rem;
  }
  