.accordion {
  display: flex;
  height: 100vh;
}

.accordion .item {
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  flex: 1;
  transition: flex 400ms;
}

.accordion .item:hover {
  flex: 3;
}

.bg-barcelona {
  background-image: url(/public/Fi.bg.jpg);
}

.bg-sydney {
  background-image: url(/public/Fi.bg.jpg);
}

.bg-venice {
  background-image: url(/public/Fi.bg.jpg);
}

.bg-singapore {
  background-image: url(/public/Fi.bg.jpg);
}

.bg-san-francisco {
  background-image: url(/public/Fi.bg.jpg);
}


