.Practice-container {
  height: 100vh;
  width: 100%;
  padding: 5rem 5% 2rem;
  background-color: black;
}
.Practice-container h1 {
  padding: 2rem 5% 0.5rem;
  color:white;
  text-align: center;
  font-size: 60px;
}
.Practice-Title span {
  color:#e5bb69;
}
.Practice-Title p {
  padding: .5rem 5% 1.5rem;
  text-align: center;
  font-size: 25px;
  color:white;
}
.accordion {
  width: 100%;
  max-width: 100%;
  height: 60vh;
  overflow: hidden;
  padding: 250px auto;
  background-color: black;
  text-shadow: 0 10px 3px rgba(0,0,0,.3)
}
.accordion ul {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}
.accordion ul li {
  display: table-cell;
  vertical-align: bottom;
  position: relative;
  width: 16.666%;
  height: 60vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition: all 500ms ease;
  filter: grayscale(100%);
}
.accordion ul li div {
  display: block;
  overflow: hidden;
  width: 100%;
}
.accordion ul li div a {
  display: block;
  height: auto;
  width: 100%;
  position: relative;
  z-index: 3;
  vertical-align: bottom;
  padding: 25px 25px;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  font-family: Open Sans, sans-serif;
  transition: all 200ms ease;
}
.accordion ul li div a * {
  opacity: 0;
  margin: 0;
  width: 100%;
  text-overflow: ellipsis;
  position: relative;
  z-index: 5;
  overflow: hidden;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.accordion ul li div a h2 {
  font-family: Montserrat, sans-serif;
  text-overflow: clip;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 2px;
  top: 60%;
}

.accordion ul li:nth-child(1) { background-image: url("../../../public/CivilBg.jpg"); }
.accordion ul li:nth-child(2) { background-image: url("../../../public/CL.bg.jpg"); }
.accordion ul li:nth-child(3) { background-image: url("../../../public/CommercialLawBg.avif"); }
.accordion ul li:nth-child(4) { background-image: url("../../../public/LocalBg.jpg"); }
.accordion ul li:nth-child(5) { background-image: url("../../../public/law-firms-philippines.png"); }
.accordion ul li:nth-child(6) { background-image: url("../../../public/Fi.bg.jpg"); }

.accordion ul:hover li { width: 8%; }
.accordion ul:hover li:hover { width: 60%; }
.accordion ul:hover li:hover a * {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.accordion ul li:nth-child(1):hover,
.accordion ul li:nth-child(2):hover,
.accordion ul li:nth-child(3):hover,
.accordion ul li:nth-child(4):hover,
.accordion ul li:nth-child(5):hover,
.accordion ul li:nth-child(6):hover {
  filter: grayscale(0%);
}


@media screen and (max-width: 600px) {
  .accordion { height: auto; }
  .accordion ul li,
  .accordion ul li:hover,
  .accordion ul:hover li,
  .accordion ul:hover li:hover {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    -webkit-transition: none;
    transition: none;
  }
}